
body {
    margin: 10%;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container_form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.container_form form{
    border: 1px solid #04AA6D;
    height: auto;
    width: auto;
    padding: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.container_form form input[type="text"]{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	background: transparent;
	margin-bottom: 10px;
    height: 30px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    background-color:#f2f2f2;
}



.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}




select{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	background: transparent;
    height: 30px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    background-color:#f2f2f2;
    font-size: 18px;
    margin: 0 10px;
}

select option{
    background-color:#f2f2f2;
    height: 30px;
    font-size: 18px;
}


h1{
    text-align: center;
    font-size:50px;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 600px;
}

table td, .main_container th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

button {
    border: none; 
    color: white;
    background-color:#04AA6D;
    font-size: 15px;
    border-radius:5px;
    padding: 7px;
    margin: 0 5px;
    width: auto;
    cursor: pointer;
}

button:hover{
    background-color:#0b754e; 
}

.edit_form form{
    border: 1px solid #04AA6D;
    height: auto;
    width: auto;
    padding: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

}


.edit_form form input[type="text"]{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	/* border: 3px solid #0b754e; ; */
	background: transparent;
	margin-bottom: 10px;
    height: 180px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    background-color:#f2f2f2;
}

form input[type="submit"]{
    border: none; 
    color: white;
    background-color:#04AA6D;
    font-size: 15px;
    border-radius:5px;
    padding: 7px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
}





